footer.footer
  .container
    .footer__copy
      p &copy; 2021 Ruben Stom
      nav
        ul.footer__nav.nav
          +menu-item('index.html', 'Home')
          +menu-item('about.html', 'About')
          +menu-item('contacts.html', 'Contacts')


