body {
  margin: 0;
  background: url('../img/bg-bottom.png') no-repeat bottom right;
  /* background-color: cadetblue; */
}

.container {
  /* min-height: 100vh; */
  max-width: 960px;
  padding: 16px;
  margin: 0 auto;
}
