extends ../layout/main

block variables 
  - var title = 'About';
  - var description = 'About description';


block content 
  main 
    section 
      .container 
        h2 About
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nemo minima ratione iusto hic cumque, itaque corporis aliquam, aut ex quidem, sapiente modi architecto voluptatem maiores consequuntur magni blanditiis animi.

