extends ../layout/main

block variables 
  - var title = 'Flex';
  - var description = 'Flex description';


block content 
  section.section
    h2.section_heading Flex
    .flex
      .flex-item Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, quibusdam quisquam sit vel sunt consequatur sapiente explicabo quasi nihil laboriosam.
      .flex-item Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam excepturi eveniet laborum saepe? Quidem nesciunt nostrum, perferendis, inventore in provident commodi dolorum unde dignissimos iure, sed eveniet. Illo, nemo nam!
      .flex-item Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam itaque pariatur reiciendis ut architecto, quaerat, temporibus tenetur voluptatibus nobis perspiciatis, iure maxime. Officiis natus, esse fugit in aperiam laudantium vero voluptate quidem dolores sequi, eligendi asperiores cumque dolore labore. Nihil.
      .flex-item Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est quia tempora rerum. Illum ratione quibusdam nisi, culpa libero aliquid architecto blanditiis odio et, accusantium pariatur corporis nulla, quam autem repudiandae ex dolorum quo eaque incidunt. Dolore modi veniam eius neque vel animi, minus illo mollitia, aspernatur rerum assumenda, ipsum tempora!
      .flex-item Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum repellat pariatur temporibus nesciunt vitae eaque quidem facilis excepturi at laudantium explicabo cupiditate blanditiis sapiente, facere minus, cum iure repudiandae magni inventore nihil voluptatem est, in eveniet rerum? Neque minus reprehenderit eligendi similique, quo dicta illo porro libero nisi natus perferendis iste repudiandae animi rem repellendus ad ex voluptates voluptate assumenda!

