extends ../layout/main

block variables 
  - var title = 'Grid';
  - var description = 'Grid description';


block content 
  section.section
    h2.section_heading Grid
    .grid 
      //- .grid-item Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat odit molestias, perspiciatis nisi necessitatibus optio atque voluptatem inventore animi perferendis!
      //- .grid-item Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et quasi repellat eius adipisci. Odio officia qui eius repellat minus fugiat consequuntur dolore nemo ad, rem ut amet consectetur dignissimos.
      //- .grid-item Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sapiente reiciendis veritatis nulla, et odio odit consectetur quod, ad facere inventore ab, dolores ullam assumenda labore nesciunt facilis? Quisquam aut deleniti cumque dolore placeat beatae nemo laboriosam modi explicabo porro!
      //- .grid-item Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita odio harum, saepe nihil sed unde voluptas pariatur voluptatem rerum inventore dicta quis. Quis accusantium facilis voluptatum repudiandae sint ullam veniam, laborum necessitatibus expedita minima, odit quasi repellendus sed reprehenderit eligendi laboriosam unde beatae? Cumque ab eius delectus placeat officia accusantium.
      //- .grid-item Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptatum quam maxime commodi omnis! Velit accusantium laborum soluta vero quibusdam optio numquam officiis asperiores, molestias quidem, esse totam cupiditate minus quia magnam exercitationem fuga dolores odit molestiae minima, incidunt necessitatibus consequatur nulla facilis. Architecto cum amet assumenda corporis, voluptates perspiciatis reprehenderit animi blanditiis deleniti illum minima ex dolor sapiente dolorum necessitatibus cupiditate nisi hic! Corporis aliquam, nihil magnam ipsum mollitia est. Consequatur amet repudiandae tenetur id ea architecto repellat. Eum.

