extends ../layout/main

block variables 
  - var title = 'Home';
  - var description = 'This is home page';


block content 
  section.section
    h2.section_heading Read some of our
      strong  featured articles
    +article-content('Januari\'15', ' South France', '172', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, earum vel! Dolor amet facilis quos! Odit ut a harum fugit explicabo esse cumque, dolore repudiandae, repellendus, accusantium illo autem nesciunt.')
    +article-content('Januari\'15', ' South France', '140', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, earum vel! Dolor amet facilis quos! Odit ut a harum fugit explicabo esse cumque, dolore repudiandae, repellendus, accusantium illo autem nesciunt.')
    +article-content('Januari\'15', ' South France', '150', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, earum vel! Dolor amet facilis quos! Odit ut a harum fugit explicabo esse cumque, dolore repudiandae, repellendus, accusantium illo autem nesciunt.')
    +article-content('Januari\'15', ' South France', '160', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, earum vel! Dolor amet facilis quos! Odit ut a harum fugit explicabo esse cumque, dolore repudiandae, repellendus, accusantium illo autem nesciunt.')

